blur{
  background-image: url(images/Minecraft_Alpha.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  filter:blur(10px);
}

white-panel{
  width: 420;
  height: 840;
  background-color: white;
}
